<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243016184276-06j7jsh0ml5h38bute61tt8auearf1h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243016184276-06j7jsh0ml5h38bute61tt8auearf1h3</string>
	<key>API_KEY</key>
	<string>AIzaSyBTIEFF2R1k0rqUaXjuR8q8_tdWpxsJFCY</string>
	<key>GCM_SENDER_ID</key>
	<string>243016184276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.mainhied.zest</string>
	<key>PROJECT_ID</key>
	<string>zest-f9baa</string>
	<key>STORAGE_BUCKET</key>
	<string>zest-f9baa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243016184276:ios:b9251c4e7b737854736641</string>
	<key>DATABASE_URL</key>
	<string>https://zest-f9baa.firebaseio.com</string>
</dict>
</plist>